<ion-view view-title="Алкоголь">
    <ion-content>
      <div class="im-wrapper">
        <div layout = "column">
            <div  class="cards-item">
                <img src="../img/margarita.png" alt="" />

                <div class="description">
                  <b class="item-title">Маргарита — Любовь есть!</b>
                  <br>
                  <span class="item-history">О появлении этого коктейля сложено больше всего легенд. Самая распространенная из них появилась в 1948 году и рассказывает о светской львице Маргарите Сэймс…</span>

                  <div layout=row>
                    <div flex="85" class="price">
                      Ціна: 50грн.
                    </div>
                    <div flex="15">
                      <button class="button button-fab button-assertive icon ion-plus"></button>
                    </div>
                  </div>
                </div>
            </div>

            <div  class="cards-item">
                <img src="../img/margarita.png" alt="" />

                <div class="description">
                  <b class="item-title">Маргарита — Любовь есть!</b>
                  <br>
                  <span class="item-history">О появлении этого коктейля сложено больше всего легенд. Самая распространенная из них появилась в 1948 году и рассказывает о светской львице Маргарите Сэймс…</span>

                  <div layout=row>
                    <div flex="85" class="price">
                      Ціна: 50грн.
                    </div>
                    <div flex="15">
                      <button class="button button-fab button-assertive icon ion-plus"></button>
                    </div>
                  </div>
                </div>
            </div>
        </div>
      </div>
    </ion-content>

</ion-view>
