<ion-view view-title="Алкоголь">
    <ion-content>
      <div class="im-wrapper">
        <div layout = "column">

            <div  class="cards-item" ng-repeat="item in items">
              <a href="#/app/cards_description">
                <img ng-src="http://185.104.11.151:1280/images/{{item.image}}" alt="" />
              </a>
                <div class="description">
                  <b class="item-title">{{item.title}}</b>
                  <br>
                  <span class="item-history">{{item.op}}</span>

                  <div layout=row>
                    <div flex="85" class="price">
                      Ціна: {{item.price}} грн.
                    </div>
                    <div >
                      <button class="button button-fab button-assertive icon ion-plus" data-ng-click="add_tocart(item)"></button>
                    </div>
                  </div>
                </div>
            </div>
        </div>
      </div>
    </ion-content>

</ion-view>
