
<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-assertive">
            <ion-nav-back-button class="no-text">
            </ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
            </ion-nav-buttons>
            <ion-nav-buttons side="right">
                <button class="button button-icon button-clear ion-android-more-vertical" id="menu-popover" ng-click="popover.show($event)"></button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <button id="fab">

        </button>
        <ion-nav-view name="menuContent"></ion-nav-view>
        <!--footer tabs-->
        <div class="tabs tabs-positive tabs-icon-only" style="position:fixed; margin-top:25px;">
            <a class="tab-item active" ng-click="home()">
                <i class="icon ion-home"></i>
            </a>
            <a class="tab-item">
                <i class="icon ion-star"></i>
            </a>
            <a class="tab-item">
                <i class="icon ion-gear-a"></i>
            </a>
        </div>
        <!--End code footer tabs-->
    </ion-side-menu-content>
    <ion-side-menu side="left">
        <ion-header-bar class="expanded">
            <img src="img/logo.png" class="avatar motion spin fade">
        </ion-header-bar>
        <ion-content class="stable-bg has-expanded-header">
            <ion-list>
                <ion-item nav-clear menu-close href="#/app/components">
                    Компоненты
                </ion-item>
                <ion-item nav-clear menu-close href="#/app/extensions">
                    Расширения
                </ion-item>
                <ion-item nav-clear menu-close href="#/app/lists">
                  Списки
                </ion-item>
                <ion-item nav-clear menu-close href="#/app/motion">
                    Елементы
                </ion-item>
                <ion-item nav-clear menu-close href="#/app/ink">
                  Шрифты
                </ion-item>
                <ion-item nav-clear menu-close href="#/app/tables">
                    Замовити столик
                </ion-item>
                <ion-item nav-clear menu-close href="#/app/ourmenu">
                    Наше меню
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
