<ion-view view-title="Меню">
    <ion-content>
      <div class="im-wrapper">
        <div layout = "column">
          <a href="#"><img src="../img/uzhin.jpg" alt="" />
            <span class="menu-title">Кращі пропозиції</span>
          </a>
        </div>
          <div layout="row">
            <div flex="45" class="menu-item">
              <a href="#/app/cards_menu">
                <img src="../img/Zakuski.jpg" alt="" />
                <span class="menu-title small-title" >Карта закусок</span>
              </a>
            </div>
            <div flex="45" class="menu-item">
              <a href="#/app/cards_menu">
                <img src="../img/alcohol.jpg" alt="" />
                <span class="menu-title small-title">Алкогольна карта</span>
              </a>
            </div>
          </div>

          <div layout="row">
            <div flex="45" class="menu-item text-card">
              <a href="#/app/cards_menu">
                <img src="../img/desert.jpg" alt="" />
                <span class="menu-title small-title">Десертна карта</span>
              </a>
            </div>
            <div flex="45" class="menu-item text-card">
              <a href="#/app/cards_menu">
                <img src="../img/tea.jpg" alt="" />
                <span class="menu-title small-title">Чайна карта</span>
              </a>
            </div>
          </div>
      </div>
    </ion-content>

</ion-view>
