<ion-view view-title="Квитанція">
    <ion-content>
      <div class="im-wrapper">

        <table class="table-receipt">
          <tr>
            <td>Квитанція "Фагот"</td>
          </tr>
          <tr>
            <td>Сок 0.5 л.</td>
            <td>15 грн.</td>
          </tr>
          <tr>
            <td>Піроженко "ххх"</td>
            <td>25 грн.</td>
          </tr>
          <tr>
            <td>Сумма</td>
            <td>40 грн.</td>
          </tr>
          <tr>
            <td>Сплачено</td>
            <td> 07.05.2016</td>
          </tr>
        </table>

      </div>
    </ion-content>
</ion-view>
