<ion-view view-title="Ласкаво просимо :)">
    <ion-content>
      <div class="im-wrapper" >
        <div layout="row">

            <div flex="45" class="startCategories">
              <a href="#">
                <img src="../img/Zakuski.jpg" alt="" />
                <span class="title">Меню</span>
              </a>
            </div>

            <div flex="45" class="startCategories">
              <a href="#">
                  <img src="../img/alcohol.jpg" alt="" />
                <span class="title">Бар</span>
              </a>
            </div>
        </div>

        <div layout="row">

            <div flex="45" class="startCategories">
              <a href="#">
                <img src="../img/zal.jpg" alt="" />
                <span class="title">Зал</span>
              </a>
            </div>

            <div flex="45" class="startCategories">
              <a href="#">
                <img src="../img/uzhin.jpg" alt="" />
                <span class="title">Какая то категория</span>
              </a>
            </div>
        </div>

        <div layout="row">

            <div flex="45" class="startCategories">
              <a href="#">
                <img src="../img/uzhin.jpg" alt="" />
                <span class="title">Какая то категория</span>
              </a>
            </div>

            <div flex="45" class="startCategories">
              <a href="#">
                <img src="../img/uzhin.jpg" alt="" />
                <span class="title">Какая то категория</span>
              </a>
            </div>
        </div>
      </div>
    </ion-content>
</ion-view>
